<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="College.Properties.Settings.collegedbConnectionString"
            connectionString="Data Source=nana-085m;Initial Catalog=collegedb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="College.Properties.Settings.visualproConnectionString"
            connectionString="Data Source=NANA-085M;Initial Catalog=visualpro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>